albumentations==1.3.1
comet_ml==3.33.9
matplotlib==3.7.2
my_project==0.2dev
numpy==1.25.2
opencv_python==4.8.0.76
opencv_python_headless==4.8.0.76
opendatasets==0.1.22
pandas==2.0.3
Pillow==10.0.0
scikit_learn==1.3.0
torch==2.0.1+cpu
torchvision==0.15.2+cpu
ultralytics==8.0.161
